#city-input,#weather-output{
    max-width:400px;
    margin: 0 auto;
}

.banner{
    color: #ffd23f;
    font-family: sans-serif;
}
.btn btn-lg-btn-dark{
    background-color: black;
    color: blanchedalmond;
}